@charset "UTF-8";
body{
	background: #fff;
	color: #000040;
	font-weight: 500;
	font-size: 1.05em;
	font-family: "Microsoft YaHei","瀹嬩綋","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}